
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10 10 10;
    padding: 10 10 10;
    margin-left: 10px;
  }

  footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
 }
 footer .logo{
    margin-bottom: 30px;
 }

 footer h4{
    font-size: 14px;
    padding-bottom: 20px;
 }
 footer p{
    font-size: 13px;
    margin: 0 0 8px 0;

 }
 footer a{
    font-size: 13px;
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
 }
 .payment img{
    width: 30%;
    height: 30%;
 }
 
 footer .follow{
    margin-top: 20px;
 }
 footer .follow i{
    color: #d9248e;
    padding-right: 4px;
    cursor: pointer;
 }
 footer .follow i:hover{
    color: #606063;
 }
 footer a :hover{
    color:#088178;
 }
  .copyright{
    text-align: center;
    color: #1a1a1a;
  }
  h2{
    color: blue;
  }
  .PHOTO{
   justify-content: center;
   align-items: center;
   height: 200px;
width: 200px;
box-shadow: 1px 1px 300px forestgreen;
  }

  .header {
   position: fixed;
   height: 80px;
   width: 85%;
   z-index: 100;
  
 }
 .nav {
   max-width: 1100px;
   width: 100%;
   margin: 0 auto;
 }
 .nav,
 .nav_item {
   display: flex;
   height: 100%;
   align-items: center;
   justify-content: space-between;
 }
 .nav_logo,
 .nav_link,
 .button {
   color: #070000;
 }
 .nav_logo {
   font-size: 25px;
 }
 .nav_item {
   column-gap: 25px;
 }
 .nav_link:hover {
   color: #0b0000;
 }
 .button {
   padding: 6px 24px;
   border: 2px solid #f9f5f5;
   background: transparent;
   border-radius: 6px;
   cursor: pointer;
 }
 .button:active {
   transform: scale(0.98);
 }
 
 /* Home */
 .home {
   position: relative;
   height: 100vh;
   width: 100%;
   background-image: url("back0.jpg");
   background-size: cover;
   background-position: center;
 }
 .home::before {
   content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: rgba(254, 158, 158, 0.6);
   z-index: 100;
   opacity: 0;
   pointer-events: none;
   transition: all 0.5s ease-out;
 }
 .home.show::before {
   opacity: 1;
   pointer-events: auto;
 }
 /* From */
 .form_container {
   position: fixed;
   max-width: 320px;
   width: 100%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(1.2);
   z-index: 101;
   background: #043b1c;
   padding: 25px;
   border-radius: 12px;
   box-shadow: rgba(108, 218, 243, 0.1);
   opacity: 0;
   pointer-events: none;
   transition: all 0.4s ease-out;
 }
 .home.show .form_container {
   opacity: 1;
   pointer-events: auto;
   transform: translate(-50%, -50%) scale(1);
 }
