@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--blue: #0071FF;
	--light-blue: #B6DBF6;
	--dark-blue: #005DD1;
	--grey: #f2f2f2;
}

body {
	display: block;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: var(--light-blue);
}


.container {
   justify-content: center;
	max-width: 400px;
	width: 100%;
	background: #fff;
	padding: 30px;
	border-radius: 30px;
   margin-top: 18vh;
   margin-left: 50vh;
}
.img-area {
	position: relative;
	width: 100%;
	height: 240px;
	background: var(--grey);
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.img-area .icon {
	font-size: 100px;
}
.img-area h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}
.img-area p {
	color: #999;
}
.img-area p span {
	font-weight: 600;
}
.img-area img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}
.img-area::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.img-area.active:hover::before {
	opacity: 1;
}
.select-image {
	display: block;
	width: 100%;
	padding: 16px 0;
	border-radius: 15px;
	background: var(--blue);
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}
.select-image:hover {
	background: var(--dark-blue);
}



 .header {
   padding: 0 2.4rem;
   height: 4rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #e7f5ff;
   position: sticky;
 }
 
 .header .logo {
   height: 50px;
 }
 
 .navbar-list {
   display: flex;
   gap: 2.4rem;
   list-style: none;
 }
 
 .navbar-link:link,
 .navbar-link:visited {
   display: flex;
   flex-wrap: wrap;
   text-transform: capitalize;
   text-decoration: none;
   font-size: 1.2rem;
   font-weight: 250;
   color: #212529;
   transition: all 0.3s;
 }
 
 .navbar-link:hover,
 .navbar-link:active {
   color: #364fc7;
   background-color:rgb(108, 246, 152);
   border-radius: 150%;

 }
 
 .mobile-navbar-btn {
   display: none;
   background: transparent;
   cursor: pointer;
 }
 
 .mobile-nav-icon {
   width: 1.5rem;
   height: 1.5rem;
   color: #ec77d4;
 }
 
 .mobile-nav-icon[name="close-outline"] {
   display: none;
 }
 @media (max-width: 62em) {
   .mobile-navbar-btn {
     display: block;
     z-index: 999;
     border: 3px solid #ef67e6;
     color: #212529;
     
   }

   .header {
     position: relative;
   }
 
   .header .logo {
     width: 30%;
   }
   .container{

      justify-content: center;
     max-width: 300px;
     width: 60%;
     background: #fff;
     padding: 30px;
     border-radius: 15px;
     margin-top: 25vh;
     margin-left: 15vh;
    
     }
   .navbar {
   
     width: 100%;
     height: 100vh;
     background: #3fde47;
     position: absolute;
     top: 0;
     left: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     transform: translateX(100%);
     transition: all 0.5s linear;
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
   }
 
   .navbar-list {
     flex-direction: column;
     align-items: center;
   }
 
   .active .navbar {
     transform: translateX(0);
     opacity: 1;
     visibility: visible;
     pointer-events: auto;
   }
 
   .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
     display: block;
   }
 
   .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
     display: none;
   }
 }

 @media (max-width: 35em) {
   .header {
     padding: 0 2.4rem;
   }
 
   .header .logo {
     width: 60%;
   }
   .container{

      justify-content: center;
     max-width: 200px;
     width: 60%;
     background: #fff;
     padding: 30px;
     border-radius: 15px;
     margin-top: 18vh;
     margin-left: 10vh;
    
     }
 }


 footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10 10 10;
  padding: 10 10 10;
  margin-left: 10px;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo{
  margin-bottom: 30px;
}

footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}
footer p{
  font-size: 13px;
  margin: 0 0 8px 0;

}
footer a{
  font-size: 13px;
  text-decoration: none;
  color: #000;
  margin-bottom: 10px;
}
.payment img{
  width: 30%;
  height: 30%;
}

footer .follow{
  margin-top: 20px;
}
footer .follow i{
  color: #d9248e;
  padding-right: 4px;
  cursor: pointer;
}
footer .follow i:hover{
  color: #606063;
}
footer a :hover{
  color:#088178;
}
.copyright{
  text-align: center;
  color: #1a1a1a;
}

#photo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.tree img{
  width: 400px;
  height: 400px;
 border: dotted;
 box-shadow: 1px 1px 30px violet;
 border-radius: 5%;
 margin-left: 15px;
 

}


.download-btn{
  background-color: DodgerBlue;
  color: white;
  padding: 1rem 2rem;
  font-size: 2rem;
  text-decoration: none;
  border-radius:5px;
}

.download-btn:hover {
  background-color: RoyalBlue;
}